<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Page Not Found
    </title>
    <link href="/css/blk.design.css?v=1.0.0" rel="stylesheet"/>
</head>

<body class="error-page">

<div class="wrapper">
    <div class="page-header error-page header-filter">
        <div class="page-header-image" style="background-image: url('/img/theme/braden-collum.jpg');"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">404</h1>
                    <h2 class="description">Page not found :(</h2>
                    <h4 class="description">Ooooups! Looks like you got lost.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
