<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="width: 100%;height: 100%;margin: 0;padding: 0;overflow:hidden">
<iframe th:if="${#response.getStatus()==404}" th:src="@{/404}"
        style="width: 100%;height: 100%;margin: 0;padding: 0;background-size: 100% 100%;" frameborder="0"></iframe>
<iframe th:if="${#response.getStatus()==403}" th:src="@{/403}"
        style="width: 100%;height: 100%;margin: 0;padding: 0;background-size: 100% 100%;" frameborder="0"></iframe>
<iframe th:if=" ${#response.getStatus()==500}" th:src="@{/500}"
        style="width: 100%;height: 100%;margin: 0;padding: 0;background-size: 100% 100%;" frameborder="0"></iframe>
</body>
</html>