<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>
        Redis Monitor Dashboard
    </title>
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendor/nucleo/css/nucleo-icons.css" rel="stylesheet"/>
    <link type="text/css" href="/css/black-dashboard.min.css" rel="stylesheet"/>
    <link type="text/css" href="/vendor/layui/css/layui.css" rel="stylesheet"/>
    <script src="/vendor/layui/layui.all.js"></script>
    <link type="text/css" href="/vendor/bootstrap/css/bootstrap-table.min.css" rel="stylesheet"/>
    <link type="text/css" href="/vendor/jquery/css/jquery.treegrid.css" rel="stylesheet"/>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery.treegrid.js"></script>
    <script src="/vendor/common/perfect-scrollbar.jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>

</head>
<body class="sidebar-mini white-content">

<div class="wrapper">
    <div class="navbar-minimize-fixed">
        <button class="minimize-sidebar btn btn-link btn-just-icon">
            <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
            <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
        </button>
    </div>
    <div class="sidebar" data="blue">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a th:href="@{/}" class="simple-text logo-mini">
                    RMS
                </a>
                <a th:href="@{/}" class="simple-text logo-normal">
                    Oxygen
                </a>
            </div>
            <ul class="nav" id="main-menu">
                <li class="" th:each="menu_item:${menu_infos}" th:id="${menu_item.id}">
                    <a data-toggle="collapse" th:href="'#'+${menu_item.path}">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p th:utext="${!#lists.isEmpty(menu_item.children)}==true?${menu_item.name}+'<b class=\'caret\'></b>':${menu_item.name}"></p>
                    </a>
                    <div th:if="${!#lists.isEmpty(menu_item.children)}" class="collapse" th:id="${menu_item.path}">
                        <ul class="nav">
                            <li class="" th:each="child:${menu_item.children}" th:id="${child.path}">
                                <a href="javascript:void(0)">
                                    <span class="sidebar-mini-icon fa fa-user"
                                    ></span>
                                    <span class="sidebar-normal"
                                          th:utext="'<i class=\'fa fa-user\'></i>'+${child.name}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel" data="blue">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-minimize d-inline">
                        <button class="minimize-sidebar btn btn-link btn-just-icon">
                            <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
                            <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
                        </button>
                    </div>
                    <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="search-bar input-group">
                            <button class="btn btn-link" id="search-button" data-toggle="modal"
                                    data-target="#searchModal"><i class="tim-icons icon-zoom-split"></i>
                            </button>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <b class="notification d-none d-lg-block d-xl-block"></b>
                                <i class="tim-icons icon-sound-wave"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                                <li class="nav-link">
                                    <a href="#" class="nav-item dropdown-item">Mike John responded to your email</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <div class="photo">
                                    <img th:src="${head}" alt="Profile Photo" src="">
                                </div>
                                <b class="caret d-none d-lg-block d-xl-block"></b>
                            </a>
                            <ul class="dropdown-menu dropdown-navbar">
                                <li class="nav-link">
                                    <a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a>
                                </li>
                                <li class="nav-link">
                                    <a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="nav-link">
                                    <a th:href="@{/auth/logout}" class="nav-item dropdown-item">Log out</a>
                                </li>
                            </ul>
                        </li>
                        <li class="separator d-lg-none"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar -->
        <div class="content" id="main-area">
        </div>
        <footer class="footer">
            <div class="container-fluid">
            </div>
        </footer>
    </div>
</div>
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title"> Sidebar Background</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <div class="badge-colors text-center">
                        <span class="badge filter badge-primary active" data-color="primary"></span>
                        <span class="badge filter badge-info" data-color="blue"></span>
                        <span class="badge filter badge-success" data-color="green"></span>
                        <span class="badge filter badge-warning" data-color="orange"></span>
                        <span class="badge filter badge-danger" data-color="red"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">
                Sidebar Mini
            </li>
            <li class="adjustments-line h-25">
                <div class="togglebutton switch-sidebar-mini">
                    <span class="label-switch">OFF</span>
                    <input type="checkbox" name="checkbox" checked class="bootstrap-switch" data-on-label=""
                           data-off-label=""/>
                    <span class="label-switch label-right">ON</span>
                </div>
                <div class="togglebutton switch-change-color mt-3">
                    <span class="label-switch">LIGHT MODE</span>
                    <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-label=""
                           data-off-label=""/>
                    <span class="label-switch label-right">DARK MODE</span>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap-table.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap-table-treegrid.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap-switch.js"></script>
<script src="/js/black-dashboard.min.js?v=1.1.0"></script>
<script src="/js/ui.js"></script>
<script src="/vendor/common/require.min.js"></script>
<script>
    require.config({
        baseUrl: '',
        waitSeconds: 0,
        paths: {
            'global': '/js/global',
        }
    });
    require(['global'], function () {

    });
</script>
</body>
</html>
