<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Redis Monitor System Sign Up</title>
    <!-- Favicon -->
    <link href="/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="/css/argon.css?v=1.1.0" rel="stylesheet">
</head>

<body>
<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light">
        <div class="container">
            <a class="navbar-brand mr-lg-5" th:href="@{/}">
                <img src="/img/brand/white.png" alt="brand">
            </a>
        </div>
    </nav>
</header>
<main class="pt-md">
    <section class="section section-shaped p-0 position-static">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-4">
                            <div class="text-center text-muted mb-4">
                                <small>Sign up with credentials</small>
                            </div>
                            <form action="/" th:action="@{/auth/register}" th:object="${user}" method="POST">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
                                        </div>
                                        <input class="form-control" th:field="*{username}" placeholder="Username"
                                               type="text">
                                    </div>
                                    <b class="text-warning description m-0 p-0"
                                       th:each="error: ${#fields.errors('username')}"
                                       th:text="${error}">Validation error</b>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input class="form-control" th:field="*{email}" placeholder="Email"
                                               type="email">
                                    </div>
                                    <b class="text-warning description m-0 p-0"
                                       th:each="error : ${#fields.errors('email')}"
                                       th:text="${error}">Validation error</b>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-phone-square"></i></span>
                                        </div>
                                        <input class="form-control" name="phone" placeholder="Phone Number"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                                        </div>
                                        <input class="form-control" th:field="*{password}" placeholder="Password"
                                               type="password">
                                    </div>
                                    <b class="text-warning description m-0 p-0" th:errors="*{password}"></b>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-unlock"></i></span>
                                        </div>
                                        <input class="form-control" th:field="*{match_password}"
                                               placeholder="Password Confirm"
                                               type="password">
                                    </div>
                                    <b class="text-warning description m-0 p-0" th:errors="*{match_password}"></b>
                                </div>
                                <div class="text-muted font-italic"><small>password strength: <span
                                        class="text-success font-weight-700">strong</span></small></div>
                                <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" id="customCheckRegister"
                                                   type="checkbox">
                                            <label class="custom-control-label" for="customCheckRegister"><span>I agree with the <a
                                                    href="#">Privacy Policy</a></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4">Create account</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a th:href="@{/}" class="text-light"><small>Return Home</small></a>
                        </div>
                        <div class="col-6 text-right">
                            <a th:href="@{/auth/sign}" class="text-light"><small>Sign In</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Core -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>
<!-- Argon JS -->
<script src="/js/argon.js?v=1.1.0"></script>
</body>

</html>
