<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register new User</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<h1>注册</h1>
<form action="/" th:action="@{/auth/register}" th:object="${user}" method="POST" enctype="utf8">
    <!--<div class="error" th:if="${#fields.hasErrors()}">输入错误！</div>-->
    <div>
        <label for="username">用户名</label>
        <input id="username" th:field="*{username}"/>
        <p class="error" th:each="error: ${#fields.errors('username')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label for="email">email</label>
        <input id="email" type="email" th:field="*{email}"/>
        <p class="error" th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label for="password">password</label>
        <input id="password" type="password" th:field="*{password}"/>
        <p class="error" th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label for="confirm">confirm</label>
        <input id="confirm" type="password" th:field="*{match_password}"/>
        <p class="error" th:errors="*{match_password}"></p>
    </div>
    <button type="submit">submit</button>
</form>

<a th:href="@{/auth/sign}">login</a>
<p><a th:href="@{/}">返回首页</a>
</p>
</body>
</html>