<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>Redis Monitor System Sign In</title>
    <!-- Favicon -->
    <link href="/img/brand/favicon.png" rel="icon" type="image/png">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="/vendor/argon/css/argon.min.css?v=1.1.0" rel="stylesheet">
</head>

<body class="bg-default">
<nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand mr-lg-5" th:href="@{/}">
            <img src="/img/brand/white.png" alt="brand">
        </a>
    </div>
</nav>
<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
            <div class="header-body text-center mb-3">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">Welcome!</h1>
                        <p class="text-lead text-white">Use this awesome services to monitor your Redis</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Sign in with credentials</small>
                        </div>
                        <form th:action="@{/auth/sign}" method="post" action="/auth/sign">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Username" name="username"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Password" name="password"
                                           type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative" style="width: 67%">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-check"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Validate" name="ValCode" type="text">
                                    <img class="position-absolute code" style="right: -100px;cursor: pointer"
                                         src="/auth/code"
                                         alt="">
                                </div>
                            </div>
                            <div class="custom-control custom-control-alternative custom-checkbox">
                                <input class="custom-control-input" id="remember-me" type="checkbox"
                                       name="remember-me">
                                <label class="custom-control-label" for="remember-me">
                                    <span>Remember me</span>
                                </label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Sign in</button>
                            </div>
                        </form>
                        <div class="text-danger"
                             th:if="${loginError} and ${#session!=null}"
                             th:text="${#strings.toString(#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')).split(':')[1]}">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <a href="#" class="text-light"><small>Forgot password?</small></a>
                    </div>
                    <div class="col-6 text-right">
                        <a th:href="@{/auth/register}" class="text-light"><small>Create new account</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/argon/js/argon.min.js?v=1.1.0"></script>
<script>
    $('.code').click(function () {
        $('.code').attr('src', "/auth/code?d=" + new Date().getTime());
    });
</script>
</body>
</html>